body {
  background-color: silver;
  color: black;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#special {
  background-color: yellow;
}

.alert {
  border: 3px solid grey;
}

.alert.stop{
  background-color: red;
}

.alert.go{
  background-color: green;
}